.form {
  &__group {
    position: relative;
    margin-bottom: 15px;

    & + .btn {
      margin-top: 15px;
    }
  }

  &__field {
    font-family: $font-family-open-sans;
    font-size: rem(16);
    font-weight: 400;
    width: 100%;
    padding-left: 50px;
    height: 60px;
    background: #fff;
    border: 1px solid #99BBC6;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 85, 112, 0.15);

    &::placeholder {
      color: #99bbc6;
    }
  }

  &__icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
  }
}