<!DOCTYPE html>
<html lang="en"> <!-- dir="rtl" -->
<head>
  <!-- Site Title -->
  <title>@@if(context.titlePage){@@titlePage}@@if(!context.titlePage){Title}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="">
  <link rel="apple-touch-icon-precomposed" href="">
  <meta name="theme-color" content="#2DAFD7">
  <meta name="keywords" content="themeforest, theme, html, template"/>
  <meta name="description" content="themeforest, theme, html, template"/>
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:wght@400;700&display=swap" rel="stylesheet"> -->

  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

<!-- The Main Wrapper -->
<main class="main-wrapper">
    <header class="header">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo"><img src="./assets/img/logo.svg" alt="Top signals"></div>

            <button class="btn btn-default">получить КОНСУЛЬТАЦИЮ</button>
        </div>
    </header>