extends ../layouts/layout

block variables
  - var title ="Pug Title"

block main
  p Мопсы были привезены из Китая в Европу в XVI веке и были популярны в Западной Европе и Нидерландах. В Соединённом Королевстве в XIX веке Королева Виктория развила страсть к мопсам, которую она передала другим членам королевской семьи.
  p Большие глаза мопса должны быть посажены достаточно широко, на одной линии с носом. Близкопосаженные глаза придают мопсу нетипичный, глуповатый вид. Характерное для мопса выражение бдительности и озорства будет потеряно. К счастью, подобный недостаток встречается нечасто. Светлоокрашенные глаза — серьёзный недостаток, также как и маленькие глаза или глаза, у которых сильно видны белки. К недостаткам относятся также раскосые, миндалевидные глаза и глаза чересчур навыкате.
  ul(style='padding: 30px 0')
    each item in list
      li= item.text
